
.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: rgba(0,0,0,.1);
    box-shadow: inset 4px 0 0 0 #1890ff;
}

.ant-layout-sider .ant-menu>.ant-menu-item {
    height: 48px;
    line-height: 48px;
    margin: 0;  
    color: #eee;
}

.ant-menu,.ant-menu-sub,.ant-menu-inline.ant-menu-sub,.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    font-size: 14px;
    background: #30363e;
}

.ant-table-thead > tr > th{
    font-weight: 600
}